.detail {
    text-align: center
    padding:10px 8 px
    &>img {
        width: 100px
        border-radius: 4px
    }
    &>span {
        flex: 1
        padding: 0 8px
        &>p {
            margin: 0;
            line-height: 24px
            color: #4100FF
            text-align: left
            font-dpr(14)
            &:last-child {
                font-dpr(12)
                color: #888
            }
        }
    }
}
