@import "./common/common";
@import "./detail/detail";
@import "./common/util";

.refresh-btn{
    border: 0 none
    outline: 0 none
    cursor: pointer
    position: absolute
    right: 12px
    top: 4px
    width: 32px
    height: 32px
}

.event {
    padding: 8px 10px
    // hair-line(#DDD)
    border-bottom: 1px solid transparent
    border-image: tiny-line('DDD')
    & > a{
        text-decoration: none
        &>p {
            margin: 0;
            line-height: 25px
            font-dpr(14)
            color:#888
            &>b {
                color: #4100FF
                font-weight: 400
            }
        }
        .event-title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px
            &>img {
                width: 50px
                border-radius: 4px
            }
            &>span {
                flex: 1;
                padding: 0 8px
                &>p {
                    margin: 0;
                    line-height: 24px
                    color: #4100FF
                    font-dpr(14)
                    &:last-child {
                        font-dpr(12)
                        color: #888
                    }
                }
            }
            &>i{
                color:#AAA
                font-weight:400
            }
        }
    }
    &:last-child {
        border: 0 none
    }
}
