@import './util'

img {
  content: normal !important
}

.container{
    font-dpr(16px)
    background: #FFF
    .header{
        line-height: 40px
        height: 40px
        text-align: center
        background: #F5F5F5
        border-bottom: 1px solid #DDD
    }
    .header-with-btn{
        position: relative
        .btn{
            position: absolute
            left: 12px
            top: 4px
            line-height: 16px
            font-dpr(16px)
            width: 32px
            height: 32px
            border: 0 none
            background: transparent
            cursor: pointer
        }
    }
}

.search-icon{
    background:url(image/search.png) no-repeat 0 0;
    background-size:30%;
}
.refresh-icon{
    background:url(image/refresh.png) no-repeat 50% 50%;
    background-size:50%;
}
