/* function */
px2rem($px){
    // designed in iphone6 mode
    return $px / 37.5 * 1rem;
}

/* mixin */
font-dpr($size){
    font-size: $size * 1px
    [data-dpr="2"] & {
        font-size: $size * 2px
    }
    [data-dpr="3"] & {
        font-size: $size * 3px
    }
}
tiny-line($color) {
    return url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect style='fill:%23"+ $color +"' width='100%25' height='100%25'/%3E%3C/svg%3E") 2 2 stretch;
}

hair-line($color) {
    box-sizing: border-box
    &::after{
        display: block
        content: ''
        border-bottom: 1px solid $color
        @media all and (-webkit-min-device-pixel-ratio: 2) {
            transform: scaleY(.5)
        }
        @media all and (-webkit-min-device-pixel-ratio: 3) {
            transform: scaleY(.333)
        }
    }
}

text-overflow(){
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
mutiple-text-overflow(){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:normal;
}
